<ion-header>
  <ion-navbar>
    <ion-title>
      {{ movie.name }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <movie-card [movie]="movie" [showComments]="true">

  </movie-card>
</ion-content>
