<ion-header>
  <ion-navbar>
    <ion-title>New Releases</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <movie-card *ngFor="let movie of movies" [movie]="movie" (click)="onMovieClick(movie)">

    </movie-card>
</ion-content>
