<ion-card>
  <ion-item>
    <ion-avatar item-left>
      <img src="/assets/sarah-avatar.png.jpeg" />
    </ion-avatar>

    <h2>{{ movie.name }}</h2>
    <p>{{ movie.releaseDate | date: 'dd/MM/yyyy' }}</p>
  </ion-item>

  <img src="/assets/{{ movie.coverUrl }}" />

  <ion-card-content>
    <p>{{ movie.summary }}</p>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small (click)="likePressed($event)">
        <ion-icon name="thumbs-up"></ion-icon>
        <div>{{ movie.likes }} Likes</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small (click)="commentsPressed($event)">
        <ion-icon name="text"></ion-icon>
        <div>{{ movie.comments.length }} Comments</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
        New!
      </ion-note>
    </ion-col>
  </ion-row>

  <ion-list [hidden]="!showComments">
      <ion-item *ngFor="let comment of movie.comments">
        <ion-avatar item-left>
          <img src="/assets/avatar-ts-woody.png">
        </ion-avatar>
        <h2>{{ comment.name }}</h2>
        <p>{{ comment.content }}</p>
      </ion-item>

      <ion-item>
          <ion-input type="text" [(ngModel)]="commentContent"
                     (keydown)="onCommentKeyDown($event);"
                     placeholder="Leave a comment!"></ion-input>
      </ion-item>
  </ion-list>
</ion-card>
