<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>About BubbleGum</h2>

  <p>
    BubbleGum is the first ever to launch an app so beautiful as IonicTheater! Join us to more adventure at our website.
    bubblegum.com
  </p>
</ion-content>
